# Created by venv; see https://docs.python.org/3/library/venv.html
# Entorno virtual
venv/
.venv/
env/

# Archivos de desarrollo/local
*.sqlite3
*.log
*.pot
*.pyc
__pycache__/
*.pid
*.local

# Configuraciones sensibles
.env
.env.local
.env.dev
.env.prod
secrets.json
settings/local.py

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de instalación
pip-delete-this-directory.txt

# Archivos estáticos y medios (si se generan automáticamente)
staticfiles/
media/

# Base de datos (excepto migraciones)
*.db
/db.sqlite3

# Otros
.DS_Store
Thumbs.db
